body {
  background-color: rbg (59,89,152);
}

h1 {
  text-align: center; 
  font-family: "Sans-serif", verdana;
  font-size: 40px;
  font-weight: bold;
  
}

h3 {
  font-family:"Sans-serif", verdana;
  font-weight: bold;
  font-size: 14px;
  border-style: solid;
  border-color: red;
  
}

p {
  font-family:"Sans-serif", verdana;
  font-weight: bold;
}


