
/* CSS Document */

body { background: #3B5998;
}

p { color: #d4dae3;
	text-align: left;
  font-family:"Sans-serif", verdana;
  font-weight: bold;

}

h1 {
	color: #d4dae3;
	text-align: center; 
  font-family: "Sans-serif", verdana;
  font-size: 40px;
  font-weight: bold;
}

h3 {
	color: #d4dae3;
	text-align: left;
  font-family:"Sans-serif", verdana;
  font-weight: bold;
}

a {
	color: #F14D4D;
	text-align: left;
  font-family:"Sans-serif", verdana;
  font-weight: underline;
}

th, td {
	color: #d4dae3;
	text-align: center;
	padding: 15px;
	border: 1px solid #020202;
	text-align: center;
  font-family:"Sans-serif", verdana;
  font-weight: bold;
}

tr {}

table { border-color: #020202;

	border: 1px solid #020202;
	

}

h2{
	color: #d4dae3;
	text-align: center;
  font-family:"Sans-serif", verdana;
  font-weight: bold;
}
