@charset "utf-8";
@import url("mavila7231.github.io/index.html");
/* CSS Document */
body {
  background-color: #3b5998; 
}

h1 {
  text-align: center; 
  font-family: "Sans-serif", verdana;
  font-size: 40px;
  font-weight: bold;
  color: #d4dae3;
  border-style: solid; 
  border-color: #d44d1f;

}

h3 {
  font-family:"Sans-serif", verdana;
  font-weight: bold;
  font-size: 14px;
  border-style: double;
  width: 300px;
  padding: 10px;  
  color: #d4dae3;
 
}

p {
  text-align: center;
  font-family:"Sans-serif", verdana;
  font-weight: bold;
  color: #d4dae3; 
}


table, th, td {
  border: 2px solid #d44d1f;
    color: #d4dae3;
  font-weight: bold;
  
  
}

br {
  color: #d4dae3
}
  
footer {
  
  color: #d4dae3
}
  
a {
  color: #d4dae3;
}

  
  
  


